#accordeon {
    display: flex;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

#accordeon li {
    width: 107px;
    overflow: hidden;
    transition: width 0.5s;
    background-color: var(--secondary-color);
    margin-right: 3px;
    border-radius: 5px;
}

#accordeon li.actif {
    width: 317px;
}

#accordeon li figure {
    display: flex;
    margin: 0;
    width: 317px;
}

#accordeon li figure figcaption {
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#accordeon li figure figcaption >* {
    margin: 0;
    padding: 0;
}