#onglets {
    display: flex;
    flex-direction: column;
        height: auto;
}

#onglets ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#onglets ul li {
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    
    border-bottom: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color: var(--primary-color);
}

#onglets ul li.actif {
    background-color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    border: none;
}

#onglets div {
    border: 1px solid var(--white);
    padding: 20px;
    position: relative;
    width: 97%;
    overflow: hidden;
    z-index: -1;
    text-align: center;

}

#onglets div>div {
    display: none;
    opacity: 0;
    height: auto;
  
    width: 100%;
    transition: opacity 0.5s;
    overflow-y: auto;
}

#onglets div>div.actif {
    display: block;
    opacity: 1;
}

.description-onglet {
    color: var(--white);
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
}

#onglets div>div.actif img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 4px 8px var(--black);


}

@media screen and (max-width: 768px) {
    #onglets div {
        padding: 10px;
    }

    #onglets div>div img {
        width: 100%;
        height: auto;
    }
}