#onglets {
    display: flex;
    flex-direction: column;
    height: auto;
}

#onglets ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#onglets ul li {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

#onglets ul li.actif {
    background-color: var(--text-color);
    border: var(--text-color);
}

#onglets div {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

#onglets div div[role="tabpanel"] {
    opacity: 0;
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s;
}

#onglets div div[role="tabpanel"].actif {
    opacity: 1;
}