body {
    background: #41969c;
    font-family: 'Catamaran', sans-serif;
}

img {
    border-radius: 10px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #8bc0d4;
    display: grid;
    place-content: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.menu-item img {
    margin-right: 10px;
}

.menu-item a {
    text-decoration: none;
    color: #41969c;
    margin-top: 5px;
}

.header__menuBtn {
    position: relative;
    z-index: 10;
    background-color: #8bc0d4;
    border-color: #ffffff;
    color: #ffffff;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

li {
    list-style-type: none;
}

.link-text {
    color: #41969c;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    font-family: 'Catamaran', sans-serif;
}

h2 {
    color: #dcf6fb;
}

h3 {
    color: #dcf6fb;

    font-size: 16px;
}

p {
    color: #ffffff;
    font-family: 'Crimson Pro', serif;
    font-size: 16px;
}

button {
    background-color: #8bc0d4;
    border-color: #ffffff;
    color: #ffffff;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}

dd {
    color: #dcf6fb;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
}

aside {
    position: absolute;
    top: 7px;
    right: 7px;
}

.media--fullwidth {
    width: 75%;
    height: auto;
}